    <ul class="people_list">
        {{#each countries}}
          <li>{{this.name}}</li>
          <li>{{this.capital}}</li>
          <li>{{this.currency}}</li>
          <li>{{this.language}}</li>
          <li>{{this.population}}</li>
          <li>{{this.flag}}</li>
          <li>{{this.infected}}</li>
          <hr>
        {{/each}}
      </ul>